* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  background: rgb(0, 0, 0);
  color: #fff;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  /*   max-width: 900px;
  width: 100%;
  margin: 0 auto; */
}
@media (max-width: 1200px) {
  bodys {
    font-size: 30px;
    line-height: 1.2;
  }
}
